.login-id, .login-pw {
    width: 400px;
    height: 35px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 0px 10px;
}

.login-btn {
    margin-top: 40px;
    background-color: rgb(62, 62, 62);
    color: white;
    font-weight: bold;
    width: 250px;
    height: 35px;
    border-radius: 50px;
    font-size: 16px;
}