.sub01_1_intro a {
    text-decoration: none;
    color: black;
}

.sub01_1_intro .content_img {
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub01_1_intro .content_img img {
    width: 100%;
    height: 290px;
    margin-right: 10px;
}

.sub01_1_intro .intro {
    padding: 20px 0;
    display: flex;
    justify-content: center;
    color: #307033;
    font-size: 1.2em; 
    font-weight: 600;
    font-style: oblique;
}