.sub05_5_intro .select_btn {
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.sub05_5_intro .select_btn2 {
    font-size: 16px;
    font-weight: bold;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3px;
    margin-right: 3px;
  }
  
  .sub05_5_intro .table_3_2 {
      border-collapse: collapse;
      width: 100%;
      font-size: 14px;
      line-height: 1.5;
      background-color: white;
    }
    
  .sub05_5_intro  .table_3_2 th, .table_3_2 td {
      padding: 10px;
      text-align: center;
    }
    
  .sub05_5_intro  .table_3_2 th {
      border: 2px solid #cbcbcb;
    }
  
  .sub05_5_intro th:first-child {
      width: 30%;
    }
  
  .sub05_5_intro th:nth-child(3) {
      width: 60%;
  }
  
  .sub05_5_intro  .table_3_2 td {
      border-bottom: 2px solid #cbcbcb;
    }
    
  .sub05_5_intro .table_3_2 tr:last-child td {
      border-bottom: none;
    }
  
  .sub05_5_intro .table_3_2 tbody tr:nth-child(odd) {
      background-color: #fafafa;
  }

  .sub05_5_intro .chapter_box {
    margin: 20px 0 20px;
    padding: 8px 20px;
    border-radius: 50px;
    background: #f5f5f5;
    font-weight: bold;
}

.sub05_5_intro .top_container {
    display: flex;
    padding-top: 50px;
    margin-bottom: 20px;
    background-color: orange;
}

.sub05_5_intro .top_container2 {
    display: flex;
    width: 100%;
    background-color: violet;
    padding: 10px;
    border: 1px solid #34576d;
    border-radius: 5px;
}
  
    
    