.video {
    background-color: rgb(203, 203, 202);
    height: 500px;
}

.shortcuts_container {
    display: flex;
    justify-content: center
}

.shortcuts_container .shortcuts {
    background-color: rgb(117, 117, 117);
    background-size: cover;
    width: 360px;
    height: 300px;
    border: 1px solid white;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shortcuts img {
    width: 80px;
    height: 105px;
}

.shortcut .img_container {
    padding-left: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgb(209, 135, 8);
    margin-bottom: 10px;
}

/*공지*/
.home_notification table {
    width: 100%;
    border-collapse: collapse;
    background-color: pink;
}

.home_notification {
    width: 50%;
    height: 300px;
    margin: 60px 40px; /*공지사항 좌우 marin: 40px*/
    background-color: rgb(227, 227, 227);
    padding: 0px 20px;
}

.home_notification .table_container {
    width: 100%;
}

a {
    color: black;
    text-decoration: none;
}
.squareBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(65, 26, 26);
    width: 300px;
    height: 300px;
    color: white;
    margin-right: 5px;
}

.mini-squareBtn {
    color: white;
    border: white 1px solid;
    padding: 7px 10px;
}

.mini-squareBtn:hover {
    background-color: white;
    color:rgb(65, 26, 26);
    font-weight: bold;
    cursor: pointer;
}

.home_container .box_container {
    display: flex;
    justify-content: center;
    margin: 0 40px;
}

.home_container .box_container img {
    width: 450px;
    height: 250px;
    margin: 0 10px;
    background-color: rgb(200, 200, 202);
}