.category {
    width: 300px;
    padding: 50px 70px;
}

.category .title {
    text-align: center;
    font-size: 30px;
}

.category .subtitle {
    padding: 10px 20px;
}

.category .subtitle:hover {
    background-color: #b48347;
    color: white;
}
  
.category a {
    text-decoration: none;
    color: black;
}

.category .sub-category {
    list-style: none;
    padding: 10px 20px;
    background-color: rgb(235, 234, 234);
}

.category .sub-category:hover{
    background-color: rgb(196, 196, 196);
}

