.wrap {
  padding: 40px 60px;
  display: flex;
  align-items: center;
}

.menubar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between; /**/
}

.menuLogo {
  display: flex;
  align-items: center;
  margin-right: 20px;
  font-size: 1.3rem;
  font-weight: bold;
}

.menuItem {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 70%; /*추가되는 네브바에 따라 수정 필요*/
}

.menuItem li {
  display: inline-block;
  position: relative;
}

.menuItem a {
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  width: 120px; /*추가되는 네브바에 따라 수정 필요*/
}


.menuItem ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #434141;
  padding: 20px 15px;

}

.menuItem li:hover ul {
  display: block;
}

.menuItem ul li {
  display: block;
}

.menuItem ul li a {
  padding: 5px 10px;
  color: white;
}

.menuItem ul li a:hover {
  color: #ff9100;
}


