.sub_top {
    padding: 0 60px;
}

.sub_top .top_img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-size: cover;
    background-position: center;
}

.sub_top .top_img .content {
    display: flex;
    justify-content: center;
    color: white;
}