footer .copyright {
    margin-top: 10px;
    font-size: 0.75rem;
    background: #222;
    padding: 15px;
    text-align: center;
}
.sns-container img {
    width: 25px;
    height: 25px;
    margin-left: 10px
}